@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/*Reseteanado el sistema */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body{
    font-family: 'Poppins', sans-serif;
}

/*Trabajando con menu principal*/

.nav-container{
    position: sticky;
    z-index:3;
    top:0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 6vh;
    background-color: white;
}

.navbar-logo {
    justify-self: flex;
    margin-left: 25px;
    color: black;
    margin-top: 1vh;
    cursor: pointer;
}

.carrito{
    font-size: 30px;
    margin-right: 20px;
    margin-top: 0.5vh;
    cursor:pointer; 
}

/*banner*/

.banner{
    background-image: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),
        url(img/Banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 300px 0;
}

.banner-container{
    text-align: center;
    font-size: 25px;
    color: white;
    
}

.subtitulo{
    text-align: center;
    font-size: 25px;
    color: black;
    margin-top: 70px;

}

/* mostrando productos */

.tienda-content{
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
}

.card{
    max-width: 500px;
    margin: auto;
    text-align:center;
    margin-top: 50px;
    margin-bottom: 100px;
    text-transform: uppercase;
}
.card button{
    border: none;
    display: inline-block;
    padding: 11px 35px;
    background-color: black;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-top:10px;
    cursor: pointer;
}

.card button:hover{
    opacity: 0.7;
}

.card > img{
    width: 100x;
    height: 100px;
    margin-bottom: 25px;

}

/*agregando carrito*/
.modal-container{
    width:80%;
    margin:0 10%;
    max-height:88vh;
    color: #F9FAFC;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-container::-webkit-scrollbar{
    display: none;
}

.modal-header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    width: 100%;
}

.modal-header-title{
    justify-self: start;
}

.modal-container > div > img{
    height: 40px;
    width: 60px; 
}

.modal-header-button{
    font-size: 20px;
    cursor: pointer;
}

.modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px
}

/*Pagando*/
.total-content{

    padding: 20px;
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    text-transform: uppercase;

}

.footer{
    padding: 50px 0;
    background-color: #000000;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

/*dieñando boton de eliminar*/

.delete-curso{
    cursor: pointer;
    font-size: 20px;
}